
<footer class="footer font-size fw-bol pt-4 pb-4 text-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-8 text- left">
                <h4>Creado por Athala Farfan para Desafio Latam - 2024</h4>
            </div>
            <div class="col-4 text- right">
                <a href="https://www.instagram.com/"  target="_blank"><i class="fa-brands fa-square-instagram fa-2x  ms-2" style="color: #ffffff"></i></a>
                
                <a href="https://www.youtube.com/"  target="_blank"><i class="fa-brands fa-youtube fa-2x ms-2" style="color: #ffffff"></i></a>
        
                <a href="https://www.facebook.com/?locale=es_LA"  target="_blank"><i class="fa-brands fa-square-facebook fa-2x ms-2" style="color: #ffffff"></i></a> 
            </div>
        </div>
    </div>
    
</footer>

