<nav class="container-fluid navbar navbar-expand-lg">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand text-white fw-bold ms-5 ps-5 fs-4" href="#">ONLYFLANS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255, 248, 238);">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse ps-3 pe-md-5 font-size " id="navbarNav">
            <div class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link activate fw-bold text-white" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link activate fw-bold text-white" aria-current="page" href="/bienvenido">Bienvenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link activate fw-bold text-white" aria-current="page"href="/acerca">Acerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link activate fw-bold text-white" aria-current="page" href="/contacto">Contacto</a>
                </li>
            </div>
      </div>
    </div>
  </nav>
 