<nav class="container-fluid navbar navbar-expand-lg">
    <div class="container-fluid px-md-5">
        <button class="navbar-toggler" type="button" style="border-color: white;" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse ps-3 pe-md-5 font-size " id="navbarNav">
            <div class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" href="/bienvenido">Bienvenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" href="/acerca">Acerca</a>
                </li>
            </div>
      </div>
    </div>
  </nav>
 