{% extends 'base.html' %}

{% block content %}

 <div class="text-center">
    <h3 class="fw-bold">Encuentranos Aquí..!!</h3>
    <p class="fw-bold">Av Gral. Bustamante 106,Providencia - Región Metropolitana</p>
    <p class="fw-bold">Nuestros horarios de atencion es de: Martes a Domingo : 09:00 am - 20:00pm</p>
    <iframe class="mb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31676.654445598895!2d-70.6253506741186!3d-33.43371969432907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7c6e8366f7%3A0x87effcc00a478d7c!2sProvidencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1715735935877!5m2!1ses-419!2scl" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

{% endblock content %}